<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="query.css">
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.js"></script>
<script type="text/javascript" src="query.js"></script>

</head>
<body>

<h3>Query Form</h3>

<div class="container" ng-app="query" ng-controller="answer_query">
  
    <span><l>Subject of the Query : </l>
    <p id="topic" name="subject" >{{queries[query_id].query-subject}}</p></span>

   
    

    <label for="question">Query :</label>
    <p id="query" name="question"  style="height:200px">{{queries[query_id].query-subject}}</p>
<label for="answer">Answer : </label>
    <textarea id="answer" name="answer" ng-model="reply" placeholder="Answer to the query.." style="height:200px"></textarea>



    <button type="button" value="approved" ng-model="status" ng-click="answer_query()">
    <button input type="button" value="reject" ng-model="status" ng-click="answer_query()">
  
</div>

</body>
</html>
