<!DOCTYPE html>
<html >
<head>
	<meta charset="utf-8">
	
	<title>login</title>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.js"></script>
<script type="text/javascript" src="base.js"></script>
	<link rel="stylesheet" type="text/css" href="login.css">
</head>
<script>
var app = angular.module('myApp', []);
app.controller('myCtrl', function($scope, $http) {
	$scope.send=function(){
	var data = JSON.stringify({ "username" : $scope.username , "password": $scope.password});
	// var url = "http://127.0.0.1:8000/login/";
  $http({
    method : "POST",
    data: data,
    url : backend_url+"teacher/login/"
  }).then(function mySuccess(response) {
      alert(response.data);
      console.log(response);
      let user=JSON.parse(response.data);
      console.log(user);
      if(user.type=='teacher'){
      	console.log("teacher");
      	
        sessionStorage.removeItem('id');
      	sessionStorage.setItem("id", user.id);
      	window.location.href = "teacher.html";
  
      }
      else if(user.type=="student"){

      	console.log("student");
        sessionStorage.removeItem('id');
      	sessionStorage.setItem("id", user.id);
      	window.location.href = "student.html";
  

      }
      else {
      	console.log("Invalid details")
      }
    }, function myError(response) {
      alert(response.statusText);
  });
};
});
</script>
<body>
	<div ng-app="myApp" ng-controller="myCtrl"> 

	<form class="box">
		<h1>Login</h1>
		<input type="text" name="username" ng-model="username" placeholder="Username">
		<input type="password" name="password" ng-model="password" placeholder="password">
		<input type="button" ng-click="send()" name="" value="Login">
	</form>
</div>

</body>
</html>