<!DOCTYPE html>
<html>
<head>
	<title>Query List</title>

	<link rel="stylesheet" href="teacher.css">
	<link rel="stylesheet" href="query.css">
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.js"></script>
	<script type="text/javascript" src="base.js"></script>
	<script type="text/javascript" src="query.js"></script>


</head>
<body style="background-image: url('https://image.shutterstock.com/image-photo/smooth-flat-vintage-paper-bag-260nw-541488106.jpg'); background-repeat: no-repeat; background-size: cover;">

	<div ng-app="query" ng-controller="list">
		<center>
	<h1 style="font-size: 3em; font-weight: 600;">List of students who raised Queries</h1><br>
<div style="font-size: 1.3em; font-weight: 550;">
<span><h2 >Total number of pending Queries : <span id="queryCount">{{query_num}}</span></h2></span>
<a href="teacher.html" class="button" style="vertical-align:middle"><span> Back</span></a><br><br>
	<table id= "table">
 	<tr>
 		    
 		<th>Query Id</th>
 		<th>Student Id</th>
 		<th>Student name</th>
   	
 		<th>Branch</th>
 		<th>Year</th>
 		<th>Subject of Query</th>
 		<th>Date </th>
 		

    <th>Answer Query </th>
 
 	</tr>
 	<tr ng-repeat="query in queries">
        <td>{{query.id}}</td>
        <td>{{query.STUDENT}}</td>
        <td>{{query.STUDENT__FIRST_NAME}} {{query.STUDENT__LAST_NAME}}</td>

        <td>{{query.STUDENT__BRANCH}}</td>
        <td>{{query.STUDENT__YEAR}}</td>

        <td>{{query.QUERY_SUBJECT}}</td>
        <td>{{query.DATE}}</td>

<td><button name="viewBtn" class="viewBtn" type="button" ng-click="redirect_to_query(query.id)">View Query</button></td>

      

 				
		
	</table>

</div>
</div>
</center>

</body>
</html>