<!DOCTYPE html>
<html>
<head>
	<title>teacher</title>
<link rel="stylesheet" href="teacher.css">

	 <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.js"></script>


	
	<script>
var app = angular.module('teacher', []);
app.controller('list', function($scope, $http) {
  	console.log(sessionStorage.getItem("id"));
	var url = "http://127.0.0.1:8000/teacherdashboard/";
 	 $http({
			 method : "GET",
			url : url
  			}).then(function mySuccess(response) {
      		let user=response.data;
     		 $scope.users=response.data;

      		console.table(response.data);
      		console.log(user[0]['username']);
 			alert("Wellcome ");
     		}, function myError(response) {
      		alert(response.statusText);
  		});


 	 $scope.delete=function(id){
  	 	$http({
   		 method : "POST",
    	data : JSON.stringify({"id" : id}),
    	url : "http://127.0.0.1:8000/deleteStudent/"
  		}).then(function mySuccess(response) {
		alert(response.data);
        console.log(response.data);
      
 	
     	}, function myError(response) {
      	alert(response.statusText);
 		 	});
 	  };
  		

 	 $scope.update=function(id){
  		 $http({
   			 method : "POST",
    		 data : JSON.stringify({"id" : id}),
   			 url : "http://127.0.0.1:8000/deleteStudent/"
 		 }).then(function mySuccess(response) {
		alert(response.data);
      	console.log(response.data);
      	
      	}, function myError(response) {
     	 alert(response.statusText);
  			});
  	  };

  });
		




</script>

  
</head>
	
<body>
	<div ng-app="teacher" ng-controller="list">
<h1> Welcome Teacher </h1>
<br><br>

 <a href="addStudent.html" class="button1 button2" style="vertical-align:middle"><span>ADD STUDENT</span></a> 

<a href="login.html" class="button" style="vertical-align:middle"><span> Logout</span></a>
 <a href="queryList.html" class="button1 button2" style="vertical-align:middle"><span>Answer Query</span></a> 

<br><br> 

 <table id="table">
 	<tr>
 		<th>Id</th>
    <th>Roll. no.</th>
 		<th>Student name</th>
    <th>Username</th>
 		<th>Section</th>
 		<th>Branch</th>
 		<th>Email Id</th>
 		<th>Phone No.</th>
 		<th>Update </th>
    <th>Delete</th>
 
 	</tr>
 	<tr ng-repeat="x in users">
        <td>{{x.id}}</td>
        <td>{{x.roll_no}}</td>
        <td>{{x.first_name}} {{last_name}}</td>
        <td>{{x.username}}</td>
        <td>{{x.section}}</td>
        <td>{{x.branch}}</td>
        <td>{{x.email}}</td>
        <td>{{x.phone_no}}</td>

    

    
<td><button name="updateBtn" class="updateBtn" type="button" ng-click="update({{x.id}})">Update</button></td>
<td><button name="deleteBtn" class="deleteBtn" type="button" ng-click="delete({{x.id}})">Delete</button> </td>
</tr>
	


      	</table>
      </div>

</body>
</html>
