<!DOCTYPE html>
<html>
<head>
	<title>teacher</title>
<link rel="stylesheet" href="teacher.css">

	 <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.js"></script>


	
	<script src="teacher.js">

</script>

  
</head>
	
<body>
	<div ng-app="teacher" ng-controller="list">
<h1> Welcome Teacher </h1>
<br><br>

 <a href="addStudent.html" class="button1 button2" style="vertical-align:middle"><span>ADD STUDENT</span></a> 

<a href="login.html" class="button" style="vertical-align:middle"><span> Logout</span></a>
 <a href="queryList.html" class="button1 button2" style="vertical-align:middle"><span>Answer Query</span></a> 

<br><br> 

 <table id="table">
 	<tr>
 		<th>Id</th>
 		<th>Student name</th>
   		 <th>Username</th>
 		
   		 <th>Year</th>
 		<th>Branch</th>
 		<th>Email Id</th>
 		<th>CONTACT</th>
 		<th>Update </th>
    	<th>Delete</th>
 
 	</tr>
 	<tr ng-repeat="student in students">
        <td>{{student.id}}</td>
        <td>{{student.FIRST_NAME}} {{student.LAST_NAME}}</td>
        <td>{{student.USERNAME}}</td>
        <td>{{student.YEAR}}</td>

        <td>{{student.BRANCH}}</td>
        <td>{{student.EMAIL}}</td>
        <td>{{student.CONTACT}}</td>

    

    
<td><button name="updateBtn" class="updateBtn" type="button" ng-click="redirect_to_update(student.id)">Update</button></td>
<td><button name="deleteBtn" class="deleteBtn" type="button" ng-click="delete(student.id)">Delete</button> </td>
</tr>
	


      	</table>
      </div>

</body>
</html>
